releases/*
release/*
keys/*
tools/temp
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
Thumbs.db
CHANGELOG.md
.hephaestus.json
*.bisign
*.tar.gz
*.zip
hemtt*
.hemttout
!hemtt.toml
@zen
tools/armake.exe
ArmaScriptCompiler.exe
*.sqfc
.vscode/*
